/* how to do exact flex-basis - including border widths, etc. not guesswork*/
/*fix smaller media queries*/
/* * {
  outline: 1px solid purple;
  outline-offset: -1px;
} */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
    margin: 0;
    padding: 0;
    background-color:rgba(122,122,122,0.12);
    color:rgba(27,27,27,1);
}

h1, h2, h3 {
  font-family:'Roboto Slab', serif;
  margin:0 0;
  padding: 0.2rem 0.5rem;
}

p {
  font-family:'Benne', sans-serif;
  padding: 0.2rem 0.5rem;
  margin: 3% 3%;
  line-height:1.2;
  position: absolute;
}

div.main {
  margin: 0 auto;
  padding: 1rem 2rem;
  max-width:800px;
  height:auto;
  background: linear-gradient(360deg, #7a77d1, #558cdd, #349ede, #2eadd9, #4ab9d0, #6dc4c7, #8fcdc2, #aed5c2);}
}

section#cards {
  height:auto;
}

.card-gallery {
  padding:2% 0%;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  position: relative; /* need to set this so blobs can have position: absolute */
  margin:2% 1%;
  height:18rem;
  min-width:200px;
  flex-basis: 29%;
  border: 0rem solid #7a77d1;
  border-radius:4%;
   /*e8e6e4 159,250,155*/

  box-shadow: rgba(122,122,122, 0.42) 2px 4px 7px;
  transition: all .3s ease-in-out;
  background-color:rgba(244,255,244,1);
}

.card:hover {
  box-shadow: rgba(122,122,122, 0.72) 6px 12px 12px;
  transform: translate3d(-1px, -2px, 0px);
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.card > div { /*card sub-divs, titlebox & contentbox*/
    border-top-left-radius:4%; /*how to fix this?*/
    border-top-right-radius:4%;
}

.titlebox {
    flex-basis:62%;
    background-color:#7a77d1;
    position:relative;
}

.card:hover .contentbox {
    flex-basis:62%;
}

.contentbox {
    flex-basis:38%; /*flex-basis:calc(38% + 10px);*/
    position:relative;
}

.card:hover .contentbox {
    flex-basis:38%;
}

.contentbox::before {
  position: absolute; /* so it doesn't push other stuff */
  margin: 0 0;
  padding: 0 0;
  content: " ";
  display: block;
  left: 0%;
  top: -10px;
  width: 100%;
  height: 10px;
  background-color:rgba(244,255,244,1); /* hla color?*/
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  transition: all 0.1s;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
}

.card:hover .contentbox::before {
  top: -14px;
  height:14px;
}

.titlebox h3 {
  position: relative;
  margin: 3% 3%;
}

svg.blob {
  position: absolute;
  max-width: 125px;
  transition: all 0.1s;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
  /* dont need to use width. viewbox. https://css-tricks.com/scale-svg/ */
}

svg.blob path {
  fill:rgba(255,255,255,0.24);
}

svg.blob.one {
  left:-9%;
}

svg.blob.two {
  left:24%;
}

svg.blob.three {
  left:62%;
}

.card:hover svg.blob  {
  transform: rotate(27deg) scale(1.2);
}

.card:hover svg.blob.one {
  transform: translate3d(1rem, 1.4rem, 1rem);
}

.card:hover svg.blob.two {
  transform: translate3d(1rem, 2.7rem, 3rem);
}

.card:hover svg.blob.three {
  transform: translate3d(0.5rem, 2.4rem, -1rem);
}

@media screen and (max-width: 800px) {

  .card {
    margin:2% 2%;
    flex-basis: 200px;
  }

}

@media screen and (max-width: 520px) {

  .card {
    margin:4% 2%;
    flex-basis: 200px;
  }

}

@media screen and (max-width: 400px) {

  .card {
    margin:6% 2%;
    flex-basis: 200px;
  }

}
